@font-face {
  font-family: 'jdennes';
  src: url('jdennes.eot');
  src: url('jdennes.eot?#iefix') format('embedded-opentype'),
    url('jdennes.woff') format('woff'),
    url('jdennes.ttf') format('truetype'),
    url('jdennes.svg#jdennes') format('svg');
  font-weight: normal;
  font-style: normal;
}

$main-bg-colour: #ffffff;
$main-font-colour: #333333;
$link-colour: #777777;
$link-hover-colour: #999999;

html, body {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

h1, h2, h3 {
  font-weight: bold;
}

.container {
  max-width: 768px; padding-top: 40px;
}

.answer {
  font-size: 9em;
}

.details {
  font-size: 1.6em;
}

.icon {
  font-family: 'jdennes';
}
