%h1.question
  Is Berlin <a href='http://whenyouliveinberlin.tumblr.com/post/44138613156/when-its-sunny-for-more-than-5-minutes' target='_blank'>happy</a> today?

%h1.answer
  =@decision[:happy]

.details
  =@decision[:details]
